//variables for embportfolio




//main colors hex codes
$teal: #07c6c3;
$lightgray: #e9e9e9;
$gray: #e0e0e0;
$blue: #234B7F;
$darkblue: #2a3977;

//main colors rgb codes
$tealrgb: rgb(7,198,195);
$grayrgb: rgb(179,179,179);
$bluergb: rgb(35,75,127);
$darkbluergb: rgb(42,57,119);

//fonts

$scriptFont: 'Princess Sofia', serif;
$mainFont: 'Muli', Verdana, sans-serif;
$iconfa: 'FontAwesome';